<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

    <button class="btn btn-primary">Sample Button!</button>

    <p>Images</p>

    <table>
        <thead>
        <tr>
            <td>
                <!-- Looping through every album in an albumArr -->
                <div th:each="instance : ${photoArrStr}">
                    <span>
                        <img alt="testing" th:src="@{${instance}}" />
                    </span>
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>

</body>
</html>